*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px;
    height: 20%;
}
.container{
    font-size: 1vw;
    color: white;
    padding: 10px;
    background-image: url(../image/star-wars-jedi-trailer-section-bg-xl.jpg.adapt.1920w.jpg);
}
.container > .img{
    display: flex;
    justify-content: center;
    padding: 20px;
}